.about {
    display: flex;
    background-image: url('../../../oculus-new-york-city-photo-l.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100%;
}
