#container_creators {
    display: grid;
    grid-template-columns: 18rem 18rem;
    grid-template-rows: 18rem 18rem 18rem;
    grid-gap: 1rem;
    grid-auto-flow: row;
    padding: 20px;
}

.authors_title {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: auto;
    background-color: #265881;
    border-radius: 20px;
}

.item {
    padding-bottom: 30px;
}