.container {
    height: 100%;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.mapContainer{
    width: 100%;
}

.cont{
    display: flex;
}

h2, h1{
    text-align: center;
   
}

.morebtn{
    margin: 0 auto;
    display: block
}